@using SimpleMVCApplication.Models
@model SimpleMVCApplication.Models.Car

<div class="card car-details w-100">
    <img src="@Model.ImageURL" alt="CarImage" class="card-img-top" />
    <div class="card-body">
        <h4 class="card-title">@Model.Brand - @Model.Model </h4>
        <p class="card-text">@Model.Description</p>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <div class="row">
                <div class="col-6 list-group-label">
                    Colour
                </div>
                <div class="col-6">
                    @Model.Colour
                </div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="row">
                <div class="col-6 list-group-label">
                    Car Type
                </div>
                <div class="col-6">
                    @Model.TypeofCar
                </div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="row">
                <div class="col-6 list-group-label">
                    Transmission
                </div>
                <div class="col-6">
                    @Model.TransmissionType
                </div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="row">
                <div class="col-6 list-group-label">
                    Horsepower
                </div>
                <div class="col-6">
                    @Model.HorsePower bHP
                </div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="row">
                <div class="col-6 list-group-label">
                    Maximum Speed
                </div>
                <div class="col-6">
                    @Model.MaximumSpeed Km/Hr
                </div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="row">
                <div class="col-6 list-group-label">
                    Mileage / Fuel Economy
                </div>
                <div class="col-6">
                    @Model.Mileage
                </div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="row">
                <div class="col-6 list-group-label">
                    Price
                </div>
                <div class="col-6">
                    @{

                        Car.PricePoints price = Model.Price;

                        if (Model.Rebate > 1 && Model.Rebate <= 30)
                        {
                            //Do nothing
                        }
                        else if (Model.Rebate > 30 && Model.Rebate < 60)
                        {
                            //Go one level lower than what it is currently.
                            if ((int)price > 1)
                            {
                                price--;
                            }
                        }
                        else if (Model.Rebate > 60 && Model.Rebate < 90)
                        {
                            //Go two levels lower
                            if ((int)price > 1)
                            {
                                price = price - 2;
                            }
                        }
                        else
                        {
                            price = (Car.PricePoints)1;
                        }

                    }
                    @price
                </div>

            </div>
        </li>
        <li class="list-group-item">
            <div class="row">
                <div class="col-6 list-group-label">
                    Rebate
                </div>
                <div class="col-6">
                    @Model.Rebate
                </div>

            </div>
        </li>
    </ul>
</div>