@model IEnumerable<SimpleMVCApplication.Models.Car>

@{
    ViewBag.Title = "Home";
}

<div class="container-fluid border border-primary">

    <div class="row align-items-center border border-primary p-2">
        <div class="col-2 text-center">
            Photo
        </div>

        <div class="col-2 text-center">
            Brand and Model
        </div>

        <div class="col-2 text-center">
            Car Type
        </div>

        <div class="col-1 text-center">
            Transmission
        </div>  

        <div class="col-1 text-center">
            Price
        </div>

        <div  class="col-4 text-left">
            Description
        </div>    

    </div>

    @foreach (SimpleMVCApplication.Models.Car car in Model)
    {
<div class="row border border-secondary align-items-center p-2">
    <div class="col-2 text-center">
        <img src="@car.ImageURL" height="100" alt="Car Photo" />
    </div>

    <div class="col-2 text-center">
        @car.Brand - @car.Model
    </div>

    <div class="col-2 text-center">
        @car.TypeofCar
    </div>

    <div class="col-1 text-center">
        @car.TransmissionType
    </div>

    <div class="col-1 text-center">
        @String.Format("€{0:N2}", car.Price)
    </div>

    <div class="col-4 text-left">
        @car.Description
    </div>   
</div>
    }

</div>
